.blog {

    .post {

        border:1px solid black;

        &:not(:last-child) {
            margin-bottom: $sm-spacing;
        }

        &__title {
            margin-top: $sm-spacing;
            margin-bottom: $sm-spacing;
        }
        
    }
}