// https://type-scale.com/
// Inter

@import url('https://fonts.googleapis.com/css?family=Roboto:500,400,300');

html {
    font-size: 16px;
}

body {
    background: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.75;
}

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1.38rem;
    margin-bottom: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2em;
    color: $primary-text-color;

}

p,
label,
i,
li,
code {
    color: $secondary-text-color !important;
}

h1 {
    margin-top: 0;
    font-size: $xl-header-font;
  }
  
  h2 {font-size: $lg-header-font;}
  
  h3 {font-size: $md-header-font;}
  
  h4 {font-size: $sm-header-font;}
  
  h5 {font-size: $xs-header-font;}

p,
li {
    font-size: 1rem;
}

small,
.text_small {
    font-size: 0.889rem;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 100%;
    }
}