{{ define "main" }}

<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>{{ $.Page.Title}}</h1>
      </div>
      <div class="col-lg-6">
        <p><i>{{ .Params.Date}}</i></p>
      </div>
      <div class="col-lg-6">
        <p><b>Forfatter: {{ .Params.author}}</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <p>{{ $.Page.Content }}</p>
      </div>
      <div class="col-lg-4">
        <h3>Tags</h3>
        <ul>
          {{ range (.GetTerms "tags") }}
              <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
      </ul>
      </div>
    </div>
  </div>

{{end}}