.header {

    .row {
        padding:unset!important;
    }

    padding-top: $sm-spacing;
    padding-bottom: $sm-spacing;

    &__title {

        label {
            font-size:$md-header-font!important;
            font-weight: 700;

            &:hover {
                cursor:pointer;
            }
        }
        
    }
}